{
  "token": {
    "production": null,
    "beta": null
  },

  "marvel" : {
    "pu" : null,
    "pr" : null
  },

  "abal" : {
    "url" : null,
    "token" : null
  },

  "youtube" : null,
  "leauge" : null,
  "imgflip" : null,

  "carbonitex": null,

  "mashape": null
}